<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order History - Catering Service</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>order_history</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<header>
    <div class="contact-info">
        <a href="mailto:info@beanproject.ie">beanproject@eattio.ie</a>
    </div>
    <div class="logo"> <img src="{{ url_for('static', filename='BeanProjectLogo.png') }}" alt="BeanProject"></div>
    <div class="logo_text">The Bean Project</div>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('menu') }}">Menu</a></li>
            {% if 'username' in session %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Sign In</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            {% endif %}
            {% if 'username' in session and session['username'] == 'admin' %}
            <li><a href="{{ url_for('admin_users') }}">Admin - User Data</a></li>
            {% endif %}

        </ul>
    </nav>
</header>
<div class="container_oh">
    <h2_oh>Order History</h2_oh>
    {% if orders %}
    <ul_oh>
        {% for order in orders %}
        <li_oh>Order ID: {{ order.id }} - Date: {{ order.date_ordered }}</li_oh>
        {% endfor %}
    </ul_oh>
    {% else %}
    <p>No orders found.</p>
    {% endif %}
</div>
<footer>
    <p>&copy; 2024 Catering Service</p>
</footer>
</body>
</html>
